/*{
    "presets": ["next/babel"],
    "plugins": []
  }
*/
  {
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ]
}